.fichelist {
  /* border: 1px solid red; */
  margin-top: 20px;

  width: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.fichelist > h2 {
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 20px;
}
/* .fichelist__fiche {
  position: relative;
} */
.fichelist__fiche > h5 {
  padding: 10px 30px;
  margin-bottom: 10px;
  font-weight: 400;
  color: var(--primary-color);
  font-size: 1rem;
}
.input__form__fiche {
  width: 70%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--border-color);
  background-color: white;
}

.addfiche {
  background-color: var(--secondary-color);
  width: 70%;
  height: 40px;
  font-size: 1rem;
  border: none;
  margin-top: 40px;
  color: white;
  outline: none;
  cursor: pointer;
}
@media (min-width: 480px) {
  .input__form__fiche {
    width: 50%;
  }
  .addfiche {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .input__form__fiche {
    width: 40%;
  }
  .addfiche {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .input__form__fiche {
    width: 35%;
  }
  .addfiche {
    width: 30%;
  }
}

@media (min-width: 1280px) {
  .input__form__fiche {
    width: 30%;
  }
  .addfiche {
    width: 30%;
  }
}
