.app {
  background-color: var(--bg-light);
}
.app__topbar {
  display: none;
}
.app__topbar p {
  font-size: 0.8rem;
}
.app__topbar > div {
  display: flex;
}
.top-icone {
  color: var(--secondary-color);
  margin: 0 10px;
}
.top-icone:hover {
  color: var(--primary-color);
  cursor: pointer;
}
footer {
  margin-top: 40px;
  position: relative;
  background-color: var(--primary-color);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.footer__content {
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
}
.copy-right {
  color: var(--bg-light);
  align-self: center;
  font-size: 0.8rem;
}
@media (min-width: 480px) {
  .app__topbar {
    background-color: var(--bg-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--primary-color);
    z-index: 10;
  }
}
