.userclient__fact > h2 {
  color: var(--text-name);
  padding-top: 50px;
  text-align: center;
  text-transform: capitalize;
}
.userclient__fact-all > h3 {
  color: var(--text-name);
  padding-top: 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.userclient__facture__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  width: 350px;
  height: 600px;
}
.userclient__fact-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.userclient__facture__list > h4 {
  /* border: 1px solid yellow; */
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1.5rem;
  /* text-align: center; */
  text-transform: capitalize;
  margin-bottom: 20px;
}
.userclient__facture__list__pdf {
  border: 2px solid var(--border-color);
}
.userclient__facture__list__pdf--color,
.react-pdf__Page__canvas {
  height: 200px;
}
.userclient__facture__delete {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
  background-color: var(--hover-color);
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .userclient__fact-all {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  .userclient__facture__list {
    /* border: 0.5px solid var(--text-name); */

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 2px;
  }
  .userclient__facture__list__pdf {
    border: none;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
