.list__contrat__bondecommande {
  padding-top: 50px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}
.user__cont__bon {
  margin-right: 15px;
  margin-left: 15px;
  padding: 12px 0;
  border: 1px solid var(--border-color);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  word-spacing: normal;
}
.user__cont__bon > h5 {
  color: var(--text-name);
  font-size: 1.1rem;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.list__contrat__bondecommande > h2 {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.list__contrat__bondecommande > h3 {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.linkcontbon {
  /* color: #6ec1e4; */
  color: var(--link-color);
  text-decoration: none;
}
.linkcontbon:hover {
  color: #b24050;
}

@media (min-width: 480px) {
  .list__contrat__bondecommande {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .list__contrat__bondecommande {
    width: 80%;
    margin: 0 auto;
  }
  .user__cont__bon {
    /* display: flex; */
    flex-direction: row;
    margin: 10px 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .user__cont__bon > h5 {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .list__contrat__bondecommande {
    width: 70%;
    margin: 0 auto;

    /* background-color: purple; */
  }
}
@media (min-width: 1280px) {
}
