.list__contrat__bondecommande {
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 100px;
}
.user____cont__bon {
  margin-right: 30px;
  margin-left: 30px;
  border-bottom: 1px solid #56a73857;

  display: flex;

  justify-content: space-between;
  align-items: center;
}
.user____cont__bon > h5 {
  color: #6ec1e4;
}
.list__contrat__bondecommande > h2 {
  color: #4054b2;
  font-size: x-large;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .list__contrat__bondecommande {
    width: 50%;
    margin: 0 auto;

    /* background-color: purple; */
  }
}
.linkcontbon {
  /* color: #6ec1e4; */
  color: #23a455;
  text-decoration: none;
}
.linkcontbon:hover {
  color: #b24050;
}
