.useruser__boncommande > h2 {
  color: var(--text-name);
  padding-top: 50px;
  text-align: center;
  text-transform: capitalize;
}
.useruser__bon-all > h3 {
  color: var(--text-name);
  padding-top: 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
}
.useruser__boncommande__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  width: 350px;
  height: 600px;
}
.useruser__bon-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.useruser__boncommande__list > h4 {
  /* border: 1px solid yellow; */
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1.5rem;
  /* text-align: center; */
  text-transform: capitalize;
  margin-bottom: 20px;
}
.useruser__boncommande__list__pdf {
  border: 2px solid var(--border-color);
}
.useruser__boncommande__button {
  display: flex;
  flex-direction: column;
}
.useruser__boncommande__delete {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
  background-color: var(--hover-color);
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .useruser__boncommande__delete {
    padding: 12px 20px;
  }
  .useruser__boncommande__list > h4 {
    font-weight: 700;

    font-size: larger;
  }

  /* .user__contrat__list {
    background-color: yellow;
  }
  .user__contrat__list__pdf {
    width: px;
  }
  .user__contrat__list__pdf--color {
    /* width={200} 
    width: 300px;
    /* height: 200px; 
    /* border: 2px solid #56a73857; 
    border: 2px solid orange;
    height: 300;
  } */
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
