.signin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.signin > h1 {
  color: #b24050;
}

.signin__container {
  background-color: white;

  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px 50px 30px;
  border: 1px solid #d3ced2;
  border-radius: 5px;
}

.signin__container > h1 {
  color: #1b2431;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
  font-size: 2rem;
}
.signin__form__group {
  position: relative;
}
.signin__form__group > h5 {
  font-weight: 700;
  font-size: medium;
  margin-bottom: 5px;
  /* font-weight: 200; */
  color: #1b2431;
}

.signin__container__form__input {
  height: 20px;
  margin-bottom: 20px;
  width: 98%;
  height: 30px;
  border-radius: 7px;
}
.valid__input {
  border-bottom: 1px solid #1b2431;
  background-color: white;
}

.signin__container > p {
  margin-top: 25px;
  font-size: 12px;
  text-align: center;
  color: #1b2431;
}
.signup {
  color: #b24050;
  text-decoration: none;
  font-weight: 700;
}

.signin__signInButton {
  background: #ebe9eb;
  width: 50%;
  height: 40px;
  font-size: 0.9rem;
  border: none;
  margin-top: 40px;
  color: #515151;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

/* Spinner */

/* @keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */

@media (min-width: 480px) {
  .signin__container {
    width: 400px;
    padding: 30px 50px;
  }
}

@media (min-width: 768px) {
  .signin {
    /* background-color: blue; */
  }
}

@media (min-width: 1024px) {
  .signin {
  }
}

@media (min-width: 1280px) {
  .signin {
  }
}
