.contact-space {
  background-color: var(--bg-light);
}
.contact__header {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__header > h2 {
  font-weight: 500;
  margin-top: 20px;
  color: var(--primary-color);
}
.text-line {
  border-bottom: 3px solid var(--text-name);
  display: inline-block;
  width: 30px;
  margin-top: 20px;
}
.contact__form {
  background-color: white;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
::placeholder {
  color: var(--primary-color);
  opacity: 0.5;
}
.contact__form > input {
  width: 250px;
  border: none;
  background-color: var(--bg-light);
  /* border: 1px solid var(--text-name); */
  outline: none;
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
  color: var(--primary-color);
}
.contact__form > textarea {
  width: 250px;
  border: none;
  /* border: 1px solid var(--text-name); */
  background-color: var(--bg-light);
  outline: none;
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
  color: var(--primary-color);
}

.contact__form__submit {
  width: 250px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: 10px;
  margin: 10px;
  color: var(--bg-light);
  font-weight: 500;

  background-color: var(--secondary-color);
  cursor: pointer;
}
.contact__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}
.contact__card__head {
  display: flex;
  align-items: center;
}
.contact__card__head > h2 {
  color: var(--primary-color);
  padding: 0 10px;
}
.menu-icon {
  color: var(--text-name);
  font-size: 2rem;
  align-items: center;
  padding-top: 10 px;
}
.contact__card__tel,
.contact__card__email {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  padding: 10px;
  align-items: center;
}
.contact__card__tel > p {
  color: var(--primary-color);
}
.contact__card__email > a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}
.info-icon {
  color: var(--secondary-color);
  font-size: 1.8rem;
}
.contact__card__info {
  width: 100%;
}

@media (min-width: 480px) {
  .contact__card {
    flex-direction: row;
    width: 400px;
    justify-content: space-evenly;
  }
  .contact__form {
    padding: 20px 30px;
  }
  .contact__form > input,
  .contact__form > textarea {
    width: 300px;
  }
  .contact__form__submit {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .contact__card {
    flex-direction: column;
    width: 350px;
  }
  .contact__cards {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
