.mysignuppage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-light);
}
.mysignuppage > h2 {
  font-weight: 500;
  margin-top: 20px;
  color: var(--primary-color);
}
.myrealsignuppage {
  background-color: white;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hubform-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0;
}
.hubform-group > p {
  color: var(--primary-color);
  margin: 0 10px;
  font-weight: 500;
}
.hubform-group-input {
  width: 250px;
  border: none;
  background-color: var(--bg-light);
  outline: none;
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
  color: var(--primary-color);
}
.signIn {
  color: var(--text-name);
  text-decoration: none;
  font-weight: 700;
}
.signup-Button {
  width: 250px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: 10px;
  margin: 10px;
  color: var(--bg-light);
  font-weight: 500;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.signup-footer > p {
  margin: 25px 0 10px;
  font-size: 12px;
  text-align: center;
  color: var(--primary-color);
}
@media (min-width: 480px) {
  .myrealsignuppage {
    width: 400px;
    padding: 30px 50px;
  }
  .hubform-group-input {
    width: 300px;
  }
  .signup-Button {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .myrealsignuppage {
    flex-direction: row;
    flex-wrap: wrap;
    width: 750px;
    justify-content: space-between;
  }
  .signup-footer > p {
    margin: 0;
  }
  .signup-footer {
    margin-top: 30px;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
