.mysignuppage {
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}
.mysignuppage > h1 {
  color: #b24050;
}
.myrealsignuppage {
  background-color: white;

  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px 50px 30px;
  border: 1px solid #d3ced2;
  border-radius: 5px;
}
.myrealsignuppage > h1 {
  color: #1b2431;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
  font-size: 2rem;
}
.hubform-group {
  position: relative;
}
.hubform-group > h5 {
  font-weight: 700;
  font-size: medium;
  margin-bottom: 5px;
  color: #1b2431;
}
.hubform-group-input {
  margin-bottom: 20px;

  height: 30px;
  width: 98%;
  border-radius: 7px;
}
.valid__input {
  border-bottom: 1px solid #1b2431;
  background-color: white;
  /* caret-color: #b24050; */
}

.signIn {
  color: #b24050;
  text-decoration: none;
  font-weight: 700;
}
.signup-Button {
  background: #ebe9eb;
  width: 50%;
  height: 40px;
  font-size: 0.9rem;
  border: none;
  margin-top: 40px;
  color: #515151;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

.myrealsignuppage > p {
  margin-top: 25px;
  font-size: 12px;
  text-align: center;
  color: #1b2431;
}

@media (min-width: 480px) {
  .myrealsignuppage {
    width: 400px;
    padding: 30px 50px;
  }
}
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
