.acceuil {
  padding-top: 80px;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
}
.site__titre {
  margin-top: 10px;
  color: #4054b2;
  background-image: url("./finance_1.jpg");
  background-position: left;
  background-size: cover;
  height: 200px;
}
.site__title--head {
  font-size: larger;
}
.acceuil__highlight {
  font-size: 2rem;
  font-weight: 700;
  /* color: ; */
}
.acceuil__description {
  margin-top: 20px;
  color: #4054b2;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}

.acceuil__service {
  margin-top: 20px;
  padding: 15px 10px;
  font-weight: 400;
  color: white;
  background-color: #4054b2;
}

@media (min-width: 480px) {
  .workerlist {
    /* background-color: green; */
  }
}

@media (min-width: 768px) {
  .workerlist {
    /* background-color: blue; */
  }
}

@media (min-width: 1024px) {
  .workerlist {
    /* background-color: purple; */
  }
}

@media (min-width: 1280px) {
  .workerlist {
    /* background-color: orange; */
  }
}
